<%- include('standard/header.ejs') %>
<div class="container">
    <h1>Welcome <%= name %></h1>
    <div class="button-container">
      <a href="/viewall" class="button">View All Blogs</a>
      <a href="/myblog" class="button">View My Blogs</a>
      <a href="/blogs" class="button">post a blog</a>
    </div>
  </div>
  <%- include('standard/footer.ejs') %>