<footer class="footer">
    <div class="footer-message">
      Blogs to <span>motivate</span>, <span>innovate</span>
    </div>
    <div class="footer-attribution">
      Designed by <span>Kartik Rao</span>
    </div>
  </footer>
</body>
</html>