<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MYProject</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/styles1.css">
</head>

<body>
  <nav class="navbar">
    <div class="logo">
      <span class="brand">Blog's GG</span>
    </div>
    <ul class="nav-links">
      <li><a href="/start">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Profile</a></li>
      <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
    </ul>
  </nav>

